.divProyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 2rem;
}
.divImgProyectos{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px 20px;
  
}
.divImgProyectos img{
  border-radius: 30px;
  box-shadow: 4px 4px 10px #170000;
  width: 100%;
  height: 100%;
 }
 .divImgProyectos img:hover {-webkit-transform:scale(1.1);transform:scale(1.1);}
 .divImgProyectos img {overflow:hidden;}
 
 @media screen and (min-width: 744px) and (max-width: 1439px) {
  .divImgProyectos{
    grid-template-columns: repeat(3, 1fr);    
  }
}
@media screen and (min-width: 1440px) {
  .divImgProyectos{
    grid-template-columns: repeat(3, 1fr);    
  }
}