.divNavSecond {
  text-decoration: underline;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Black Ops One", cursive;
  margin: 1rem 1rem;
}
.divNavSecond h3 {
  font-size: 17px;
  text-align: center;
}
.divTecnologias h4,
.divSkills h4 {
  text-align: center;
  margin-top: 1.2rem;
}
.divFront {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px 20px;
  text-align: center;
}
.divBack {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px 20px;
  text-align: center;
  align-items: end;
}

.divTecnologias img,
.divRedesSociales img {
  width: 5rem;
  height: auto;
}
.divEducation {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px 20px;
  text-align: center;
  margin-top: 2.5rem;
}
.divEducation img {
  width: 90%;
  height: auto;
}
.divNavSecond h3:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px purple;
}
.divRedesSociales {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divRedesSociales img {
  margin: 0.5rem;
}
.divSkills {
  margin: 2rem;
}
@media screen and (min-width: 744px) and (max-width: 1439px) {
  .divNavSecond {
    grid-template-columns: repeat(4, 1fr);
  }

  .divNavSecond h3 {
    font-size: medium;
  }
  .divFront {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
  }
  .divBack {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
  }
  .divEducation {
    grid-template-columns: repeat(2, 1fr);
  }
  .divEducation img {
    width: 45%;
  }
  .divSkills h4 {
    text-align: start;
  }
  .divRedesSociales img {
    margin: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .divNavSecond {
    grid-template-columns: repeat(4, 1fr);
  }
  .divNavSecond h3 {
    font-size: larger;
  }
  .divFront {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  .divBack {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .divEducation {
    grid-template-columns: repeat(2, 1fr);
  }
  .divEducation img {
    width: 45%;
  }
  .divTecnologias img,
  .divRedesSociales img {
    width: 10rem;
  }
  .divSkills h4 {
    text-align: start;
  }
  .divRedesSociales img {
    margin: 3rem;
  }
}
