.divSobreMi {
  background-color: var(--bg-rosado);
}

.seccion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.contenidoSeccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 3rem;
}
.contenidoSeccion h1 {
  padding-bottom: 4rem;
}
.contenidoSeccion p {
  text-align: justify;
}
.foto {
    width: 50%;
    height: auto;
    border-radius: 70%;
    /* border: 1px solid black; */
  }