/* --- Contact --- */
 .divContact{
  background-color: var(--bg-rosado);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem
 }
 .divContactContent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
  margin: 2rem;
 
 }
.divContactText{
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divContactText p{
  padding: 2.5rem;
}
.divContact h1{
  padding-top: 3rem;
}
.divUbication{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.divUbication img {
  width: 2rem;
  height: auto;
}